.clr {
  clear: both;
}

.row-unspaced{
    margin-left:0px;
    margin-right:0px;
}

#sidebar-wrapper {
    left: -255px;
    width: 300px;
    min-height: 100%;
    background: #2F4154;
    position: absolute;
    z-index: 1049;
    transition: all .4s ease 0s;
}

#sidebar-wrapper .clr {
  clear: both;
}

#sidebar-wrapper .sidebar-user {
  display: none;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 300px;
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
}

.sidebar-user {
  padding: 15px 15px 25px 15px;
  line-height: 1.0;
  /*background: rgba(0,0,0, 0.5);*/
}

.sidebar-user p {
  line-height: 1.0;
}

.sidebar-user a {
  font-size: 12px;
}

.sidebar-user > .avatar {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 5px;
    display: block;
    float: left;
}

.sidebar-user > .info {
    display: block;
    float: left;
    line-height: 1.0;
}

.sidebar-user .info .name {
  color: #ecf0f1;
  font-weight: bold;
  display: block;
}

.sidebar-user .info .name a {
  color: #ecf0f1;
  font-weight: bold;
  font-size: 16px;
}

.sidebar-user .info .email {
  color: #16a085;
  font-size: 12px;
}

.sidebar-user .info .edit {
  color: #ecf0f1;
}

.sidebar-user .info .options {
  color: #f1c40f;
}

#wrapper.with-sidebar #page-content-wrapper {
  padding: 0 0 0 45px;
}

#page-content-wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: #ecf0f1;
    position: absolute;
    overflow: auto;
}

#page-content-wrapper .page-content.inset {
  min-height: 100%;
}

#wrapper.with-sidebar.active #sidebar-wrapper {
    left: 0px;
    box-shadow: 0 0 10px #000;
}


#wrapper.with-sidebar.active #sidebar-wrapper .sidebar-user {
    display: block;
}

#wrapper.with-sidebar.active #page-content-wrapper {
  overflow: hidden;
  opacity: 0.7;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #ecf0f1;
    font-size: 14px;
    display: block;
    text-decoration: none;
    width: 300px;
    border-color: #2c3e50;
    border-width: 0 0 1px 0;
    border-style: solid;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar_part {
  border-width: 0;
  padding: 15px 0;
  text-indent: 20px;
}

.sidebar_part, .sidebar_part a {
  font-size: 16px;
  color: #95a5a6 !important;
  text-transform: uppercase;
}

.sidebar_name {
    padding-top: 25px;
    color: #000;
    opacity: 0.7;
}

#sidebar.sidebar-nav li {
  line-height: 30px;
}

#sidebar_menu.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li {
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #1abc9c;
  background: #2c3e50;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}


.sidebar-nav > .sidebar-brand a {
  font-size: 18px !important;
  /*color: #34495e !important;
  background: #16a085;*/
}
/*
.sidebar-nav > .sidebar-brand a:hover {
  background: #1abc9c !important;
  color: #2c3e50 !important;
  background: none;
}*/

#sidebar-wrapper #sidebar.sidebar-nav {
  display: none;
}

#sidebar-wrapper #sidebar_menu.sidebar-nav {
  display: block;
}

#wrapper.active #sidebar-wrapper #sidebar.sidebar-nav {
  display: block;
}

#main_icon, .sub_icon {
   text-align: center;
   width: 45px;
   padding: 0px;
   margin: 0px;
   text-indent: 0px;
}

.sub_icon {
  float: left;
}

#main_icon {
  float: right;
}

#main_icon i, .sub_icon i {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  color: #333;
  font-size: 12px;
}

.breadcrumb a {
  color: #333;
}

#topbar {
  margin: 0px -15px 0px -15px;
  padding: 10px 15px 10px 15px;
  /*
  border-color: #999;
  border-width: 0 0 1px 0;
  border-style: solid;
  background: #fff;*/
  color: #333;
  font-size: 12px;
}

#topbar .topbar-right {
  text-align: right;
}

.noti-box {
  padding: 15px;
}

.noti-box .main-text {
  font-size: 32px !important;
  line-height: 32px;
}

.page-inner {
  margin: 15px 0 15px 0;
}

#page-header {
  margin: -15px -15px 0px -15px;
}

#page-header .controls {
  padding-bottom: 15px;
}

#page-header .info {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
  line-height: 20px;
}

#page-header.with-tabs {
  border-width: 0px;
  padding: 0px 15px 0px 15px;
}

.page-content-block {
  background: #fff;
  padding: 15px;
  margin: 0px 15px 15px 0px;
}

.panel-back {
  background: #ecf0f1;
}

.panel-back .panel-header {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #bdc3c7;
  padding: 10px;
  text-align: center;
  background: #bdc3c7;
}

.panel-back .icon-box {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-color: #7f8c8d;
  border-width: 2px;
  border-style: solid;
  color: #7f8c8d;
  background: #ecf0f1;
  text-align: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 70px;
}

.panel-back .text-box{
  text-align: center;
}

.panel-back .main-text {
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
}

.panel-back .text-muted {
  color: #555;
}

.tile {
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.tile.sm {
  padding: 15px 0px;
  /*
  background: #16a085;
  color: #ecf0f1;*/
  font-size: 14px;
  font-weight: bold;
}

.tile.sm p {
  margin-bottom: 0px;
}

.tile.sm .tile-title {
  font-weight: normal;
  /*color: #ecf0f1;*/
  font-size: 12px;
  padding: 0px;
}

.tile .tile-image {
  font-size: 100px;
  line-height: 1.0;
  text-align: center;
  color: #bdc3c7;
}

.media-tile.active {
  background: #16a085;
}

.media-tile {
  width: 200px;
  height: 150px;
  background: #2980b9;
  display: inline-block;
  margin: 0 10px 10px 0;
}

.media-tile .preview {  
  width: 200px;
  height: 150px;
  overflow: hidden;
  z-index: 100;
  text-align: center;
}

.media-tile .preview img {
  min-width: 200px;
  min-height: 150px;
  opacity: 0.4;
}

.media-tile .type-icon {
  position: absolute;
  z-index: 200;
  font-size: 20px;
  line-height: 20px;
  margin: -140px 0 0 10px;
  padding: 5px;
  color: #eef;
  background: #d35400;
}

.media-tile .title {
  position: absolute;
  margin: -90px 0 0 0px;
  padding: 10px;
  width: 200px;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 300;
}

.purchase-list-item {
  background: #ecf0f1;
  padding: 15px;
  margin-bottom: 15px;
}

.purchase-list-item > .title,
.purchase-list-item > .title a {
  font-size: 20px;
  color: #2c3e50
}

.purchase-list-item .list {

}

.purchase-list-item .description {
  font-size: 12px;
  color: #7f8c8d;
  margin-bottom: 10px;
}

.purchase-list-item .info {
  font-size: 12px;
  color: #7f8c8d;
}

.media-bg {
  background: #000;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0 0 20px 0;
}

.media-bg .media-descr {
  color: #777;
  font-size: 12px;
  margin: 10px 0 10px 0;
}

.media-bg .media-content {
  font-size: 14px;
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
}

.footer {
  display: block;
  color: #BAC1C8;
  margin-top: 15px -15px 0px -15px;
  padding: 15px;
}

.footer a {
  color: #BAC1C8;
  font-size: 14px;
}

.footer a:hover {
  color: #555;
}

@media (max-width: 1280px) {
  #page-header.with-tabs .tabs .nav-tabs {
    margin: 0px;
    border: 0;
  }

  #page-header.with-tabs .tabs .nav-tabs > li {
      float:none;
      padding: 2px 0 2px 0;
      display: inline-block;
  }

  #page-header.with-tabs .tabs .nav-tabs > li {
    border-width: 0px;
  }

  #page-header.with-tabs .tabs .nav-tabs > li > a {
    border-radius: 0px;
    padding: 5px;
    border-width: 0px;
  }

  #page-header.with-tabs .tabs .nav-tabs > li.active {
    border-width: 0px;
  }

  #page-header.with-tabs .tabs .nav-tabs > li.active > a {
    background: #fff;
    color: #2c3e50;
    border-width: 0px;
  }

  #page-header.with-tabs {
    padding: 15px;
  }

  #page-header.with-tabs .tabs {
    margin-top: 15px;
  }

  #sidebar-wrapper #sidebar.sidebar-nav {
    display: none;
  }

  #sidebar-wrapper #sidebar_menu.sidebar-nav {
    display: block;
  }

  #wrapper.active #sidebar-wrapper #sidebar.sidebar-nav {
    display: block;
  }

  #topbar .topbar-right {
    text-align: left;
    padding-top: 5px;
  }
}

@media (max-height: 600px) {
  #topbar .topbar-right {
    text-align: left;
    padding-top: 5px;
  }
}
